<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          screens: {
            sm: '520px',
            md: '820px',
            lg: '1140px',
            xl: '1440px',
          },
          container: {
            center: true,
          },
        },
      },
    }
  </script>
</head>
<body>
  <div class="bg-gradient-to-r from-gray-900 to-gray-800 text-gray-200">
    <div class="container">



      <div class="grid grid-cols-1 md:grid-cols-2 justify-items-center content-center min-h-screen">
        <div class="bg-gray-800 border border-gray-700 rounded-lg p-4">


          <div class="grid grid-cols-1 p-1 mt-6 text-center pt-10">
            <p class="text-xl">Генератор подписи для email</p>
          </div>

          <div class="grid grid-cols-1 p-1 mt-6 text-center mt-2 mb-4">
            <p class="text-xs">HowTo: Заполнить поля формы как написано в холдерах, скопировать подпись в почтовый клиент с помощью копирования</p>
          </div>
      
          <form action="/getsignature/" method="post">
            {% csrf_token %}

              <div class="grid grid-cols-2 p-1">
                <p>Имя Фамилия: </p>
                <input placeholder="Иван Иванов" id="name" type="text" name="name" value="{{ name }}" class="text-gray-800 p-1 pr-4 pl-4 rounded-sm text-center">
              </div>
              <div class="grid grid-cols-2 p-1">
                <p>Должность: </p>
                <input placeholder="Сотрудник" id="job" type="text" name="job" value="{{ job }}" class="text-gray-800 p-1 pr-4 pl-4 rounded-sm text-center">
              </div>
              <div class="grid grid-cols-2 p-1">
                <p class="">Рабочий: </p>
                <input placeholder="+7 (8112) 75 52 13" id="worker" type="text" name="worker" value="+7 (8112) 72 52 13" class="text-gray-800 p-1 pr-4 pl-4 rounded-sm text-center">
              </div>
              <div class="grid grid-cols-2 p-1">
                <p class="">Мобильный: </p>
                <input placeholder="+7 (012) 345 67 89" id="private" type="text" name="private" value="{{ private }}" class="text-gray-800 p-1 pr-4 pl-4 rounded-sm text-center">
              </div>

              <div class="grid grid-cols-1 p-1 mt-6 text-right">
                <small>* Оставить пустыми, если совпадает с мобильным телефоном</small>
              </div>              
              <div class="grid grid-cols-2 p-1">
                <p class="">WhatsApp: </p>
                <input placeholder="+7 (012) 345 67 89" id="private" type="text" name="whatsapp" value="{{ whatsapp }}" class="text-gray-800 p-1 pr-4 pl-4 rounded-sm text-center">
              </div>
              <div class="grid grid-cols-2 p-1">
                <p class="">Телеграмм: </p>
                <input placeholder="+7 (012) 345 67 89" id="private" type="text" name="telegramm" value="{{ telegramm }}" class="text-gray-800 p-1 pr-4 pl-4 rounded-sm text-center">
              </div>
          
              <div class="mt-8 grid grid-cols-1 content-center">
                <div class="text-center">
                  <button type="submit" class="rounded-sm bg-sky-500 px-10 py-2 text-base text-gray-200 shadow-sm hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-1 transition duration-300 delay-150 hover:delay-300">
                    Отправить
                  </button>              
                </div>
              </div>

          </form>  
        </div>
      



        <div class="">


          <div class="p-4">
            <div class="mt-1 mb-1">
              <p>Настройка подписи в браузере</p>
            </div>
            <div class="">
              <video width="400" height="300" controls="controls" class="rounded-sm">
                <source src="https://api.glsvar.ru/files/signature.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                Тег video не поддерживается вашим браузером. 
                <a href="video/duel.mp4">Скачайте видео</a>.
              </video>              
            </div>
          </div>
          <div class="p-4">
            <div class="mt-1 mb-1">
              <p>Настройка подписи в The Bat</p>
            </div>
            <div class="">
              <video width="400" height="300" controls="controls" class="rounded-sm">
                <source src="https://api.glsvar.ru/files/batmanual.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                Тег video не поддерживается вашим браузером. 
                <a href="video/duel.mp4">Скачайте видео</a>.
              </video>              
            </div>
          </div>


        </div>
        
        
      </div>








    </div>

  </div>


</body>
</html>